header{
    background-color: lightblue;
    margin-bottom: 1px;
    height: 75px;
}
.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.header_home{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 75px;
}
.header-menu-list{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.home_img{
    width: 40px;
    height: 40px;
}
.main{
    background-color: lightblue;
}
.main_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 0px;
    column-gap: 100px;
}
.main_text{
    width: 40%;
}
.main_logo{
    font-size: 45px;
}
.main_longtext{
    font-size:medium;
}
.main_image{
    width: 45%;
}