@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body{
    margin: 0px;
    font-family: Roboto;
    color: black;
    line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
a {
  color: black;
  text-decoration: none;
}
header{
    background-color: lightblue;
    margin-bottom: 1px;
    height: 75px;
}
.header{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.header_home{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    height: 75px;
}
.header-menu-list{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    column-gap: 50px;
    font-weight: bold;
}
.header-menu-link:hover{
    border-radius: 5px;
    color: white;
    background-color: darkblue;
}
.home_img{
    width: 40px;
    height: 40px;
}
.button-login {
  border: none;
  background: none;
  font-weight: 700;
  cursor: pointer;
}

.button-login:hover {
  border-radius: 5px;
  color: white;
  background-color: darkblue;
}
.main{
    background-color: lightblue;
}
.main_container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 20px 20px;
    column-gap: 100px;
    margin-inline: auto;
    padding-inline: 15;
    max-width: 1385px;
}
.main_text{
    width: 40%;
}
.main_logo{
    font-size: 45px;
}
.main_longtext{
    font-size:medium;
}
img {
    max-width: 100%;
}
.main_image{
    display: block;
    width: 45%;
}
.info{
    text-align: center;
    padding: 90px 0px;
}
.info_container{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.info_card{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.info_img{
    width: 75px;
    height: 75px;
}
.info_card_info{
    margin: 15px 5px 0px;
}
.info_card_text{
    display: flex; 
    align-items: center;
    height: 60px;
}
.info_button{
    width: 80%;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}
.info_button:hover{
    color: white;
    background-color: darkblue;
}
.desc {
    display: flex;
    align-items: center;
    gap: 100px;
    padding: 50px 100px;
}
.desc_img img{
    display: block;
    overflow: hidden;
    border-radius: 15px;
}
.desc_text{
    width: 60%;
}
.desc_text h2{
    margin: 0px;
}
.desc_button{
    display: inline-block;
    padding: 0px 15px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 8px;
    text-align: center;
}
.desc_button:hover{
    color: white;
    background-color: darkblue;
}
.houses{
    text-align: center;
    padding: 50px 100px;
}
.houses_container{
    display: flex;
    gap: 15px;
    align-items: center;
}
.house_card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 0px 4px 12px lightgray;
    transition: transform 0.25s ease-in-out;
    user-select: none;
}
.house_card:hover{
    transform: translateY(-5px);
}
.house_card_img img{
    display: block;
    overflow: hidden;
    border-radius: 10px;
}
.house_card h2{
    margin: 10px 0px;
}
.house_card_cost{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.house_card_cost h4{
    margin: 0px;
}
.house_card_new{
    display: flex; 
    align-items: center;
    background-color:rgb(43, 172, 43);
    color: white;
    border-radius: 5px;
    padding: 2px 7px;
}
.house_card_info{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
    font-size: 14px;
    width: 85%;
}
.contacts{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
}
.contacts_menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    padding: 25px;
    width: 100%;
    border-radius: 15px;
}
.contacts_menu h3{
    margin: 5px 0px;
}
.contacts_form{
    margin: 25px;
    padding: 5px;
}
.contacts_input{
    height: 35px;
    width: 200px;
    border-radius: 5px;
    border:0px;
    font-family: Roboto;
    padding: 0px 5px;
}
.contacts_button{
    background-color: rgb(0, 0, 79);
    color: white;
    height: 35px;
    width: 100px;
    border-radius: 5px;
    border:0px;
    font-family: Roboto;
}
.contacts_button:hover{
    background-color: darkblue;
    cursor: pointer;
}